body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow-y: auto;
    font-family: sans-serif;
}
.sectone {
    display: flex;
    height: 300px;
    background-color: #1F2937;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    padding-bottom: 60px;
}
.headertwo {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.signup {
    background-color: #3882f6;
    color: white;
    width: 80px;
    border-radius: 8px;
    border: none;
    
}
.headerlinks {
    display: flex;
    font: 18px;
    color: #E5E7EB;
    gap: 16px;
    padding-bottom: 60px;
    height: fit-content;
    
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    max-width: 360px;
}
.imgbox {
    display: flex;
    background-color: gray;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    color: #E5E7EB;
}

.contentright {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 360px;
    justify-content: flex-end;
    
}

.secttwo {
    display: flex;
    height: 300px;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

.bbox {
    height: 120px;
    width: 120px;
    border-color: #3882f6;
    border-style: inset;
    border-radius: 8px;

}
.container {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    gap: 36px;
}

.info {
    max-width: 120px;

}

.text {
    text-align: center;
    color: #1F2937;
}

.randominfo {
    flex-basis: 100%;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sectthree {
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
}

