body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.sectone {
    display: flex;
    height: 250px;
    background-color: #1F2937;
    flex: 1;
    flex-wrap: wrap;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    padding-top: 12px;
}

.headerlinks {
    display: flex;
    font: 18px;
    color: #E5E7EB;
    gap: 16px;
    padding-top: 12px;
    
}
.content {
    display: flex;
    width: 350px; 
    flex-wrap: wrap;
    flex-basis: 50%;
}
.imgbox {
    background-color: gray;
}

.contentright {
    display: flex;
    flex-basis: 50%;
    
}
